.InputSelect {
    margin-bottom: 20px;
    font-size: 14px;
    height: 35px;
    min-height: 45px; /*firefox*/
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background-image: linear-gradient(-180deg, #F2F2F2 0%, #D4D4D4 100%);
    border: 1px solid #979797;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20), inset 0 2px 0 0 #FFFFFF;
}